.main-nav {
  padding: 0 24px;
  ul {
    display: flex;
    padding: 0;
    justify-content: center;
  }
  li {
    list-style-type: none;
    display: inline-block;
    padding-left: 8px;

    &:first-of-type {
      padding-left: 0;
    }


    a {
      font-size: 14px;
      font-weight: 500;
      color: navy;
      text-decoration: none;

      &:hover {
        color: #8050eb;
      }
    }
  }

  @media (min-width: 768px) {
    li {
      a {
        font-size: 20px;
      }
    }
  }
}