.header-component {

  .art {
    background-image: url(../../images/test.png);
    background-repeat: repeat;
    height: 120px;
    width: 100%;
  }

  .header {
    max-height: 120px;
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }
}

